
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}





body {
    background: #ffffff;
    color: #070707;
     margin: 0;
    display: flex;
    flex-direction: column;

}


.navbar {
    background: #020617;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: center;   
}


.logo {
    color: #38bdf8;
    font-size: 22px;
}


.navbar ul {
    list-style: none;
}

.navbar ul {
    list-style: none;
    display: flex;             
    gap: 30px;                
}


.navbar ul li a {
    color: #e5e7eb;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.navbar ul li a:hover {
    color: #38bdf8;
}


.hero {
    text-align: center;
    padding: 90px 20px;
}


.profile-img {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    margin-bottom: 20px;
    border: 4px solid #38bdf8;
    
    object-fit: cover;
    background: #fff;
}






.hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.hero span {
    color: #38bdf8;
}

.hero p {
    font-size: 18px;
}


.content {
    background: #d6dadf;
    color: #0f172a;
    margin: 40px auto;
    padding: 35px;
    max-width: 900px;
    border-radius: 10px;
}


.skills span {
    background: #0ea5e9;
    color: #fff;
    padding: 8px 18px;
    border-radius: 20px;
    margin: 6px;
    display: inline-block;
}


.card {
    background: #e2e8f0;
    color: #0f172a;
    padding: 22px;
    border-radius: 10px;
    margin-top: 25px;
}


footer {
    text-align: center;
    padding: 18px;
    background: #020617;
    color: #94a3b8;
    margin-top: 60px;
    font-size: 14px;
}


